{% extends 'base.html' %}

{% block title %}
    Create Room
{% endblock %}

{% block content %}

    <div class="container center-screen">
        <h1>Create Room</h1>
        {% if errors %}
            <div class="ui negative message">
                <i class="close icon"></i>
                <div class="header">
                    Please verify the following!
                </div>
                <ul class="list">
                    {% for error in errors %}
                        <li class="content">
                            {{ error }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="ui placeholder segment">
            <form action="" method="POST" class="ui form">
                {% csrf_token %}
                <div class="field">
                    <label>Room name</label>
                    {{ form.room }}
                </div>
                <input type="submit" value="Create" class="ui blue fluid button" />
            </form>
        </div>
    </div>
{% endblock %}
