{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="center-screen">
        {% if errors %}
            <div class="ui negative message">
                <i class="close icon"></i>
                <div class="header">
                    Please verify the following!
                </div>
                <ul class="list">
                    {% for error in errors %}
                        <li class="content">
                            {{ error }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="ui placeholder container segment">
            <div class="ui two column stackable center aligned grid">
                <div class="ui middle aligned row">
                    <div class="column">
                        <div class="ui icon header">
                            <i class="search icon"></i>
                            Join a Room
                        </div>

                        <div class="field">
                            <div class="ui search">
                                <form action="" method="POST">
                                {% csrf_token %}
                                <div class="ui action input">
                                    {{ form.room }}
                                    <input type="submit" name="join" value="Join" class="ui primary button">
                                </div>
                                </form>
                                <div class="results"></div>
                            </div>
                        </div>
                    </div>
                    <div class="ui vertical divider">or</div>
                    <div class="column">
                        <div class="ui icon header">
                            <i class="users icon"></i>
                            Create a New Room
                        </div>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <input type="submit" name="create" class="fluid ui primary button" value="Create">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
