{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}


{% block content %}
    <div class="container center-screen">
    <h1>Login</h1>
    {% if error %}
        <div class="ui negative message">
            <i class="close icon"></i>
            <div class="header">
                {{ error.capitalize }}
            </div>
        </div>
    {% endif %}
    <div class="ui very padded placeholder segment">
        <div class="ui form">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="field">
                    <label>Username</label>
                    {{ form.username }}
                </div>
                <div class="field">
                    <label>Password</label>
                    {{ form.password }}
                </div>
                <input type="submit" name="login" value="Login" class="ui fluid primary button">
            </form>
            <div class="results"></div>
        </div>
    </div>
</div>
{% endblock %}
